@import "tailwindcss";

/* Estilos globais */
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color-scheme: light dark;
  transition: background-color 0.3s ease, color 0.3s ease;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #242424;
  color: rgba(255, 255, 255, 0.87);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  margin-bottom: 1em;
  color: inherit;
}


.back-button {
  background-color: #e53e3e;
  border: none;
  color: white;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.back-button:hover {
  background-color: #c53030;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.back-button:focus {
  outline: none;
}

/* Links */
a {
  font-weight: 500;
  color: #ffffff;
  text-decoration: inherit;
}

a:hover {
  color: #e8e8ec;
}

/* Modo claro */
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
    border: 1px solid #dcdcdc;
  }
}